@model AddNewCarViewModel

@{
    ViewData["Title"] = "Add New Car";
}

<!-- Contact 2 start -->
<div class="add-new-car-outer-container content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="add-new-car main-title">
            <h1>Add New <span>Car</span></h1>
            <p>Please use this form to add a new car to the inventory.</p>
        </div>

        <div id="validation-errors">
            <ul></ul>
        </div>

        @*<form id="add-new-car-form" enctype="multipart/form-data" method="post" asp-action="Index">
            <div id="drag-drop-area" class="DashboardContainer"></div>
            <div class="form-group">
                <label asp-for="NoOfDoors">No. Of Doors</label>
                <input asp-for="NoOfDoors" type="number" class="form-control" placeholder="Enter number of doors">
            </div>
            <button type="submit" class="btn btn-md button-theme">Submit</button>
        </form>*@



        <form id="add-new-car-form" method="post" enctype="multipart/form-data" asp-action="Index">
            <div id="example-vertical">
                <h3>Select Car Type</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="CarMakeId">Make</label>
                                <select asp-for="CarMakeId" asp-items="@Model.CarMakes" class="search-fields">
                                    <option>Select Make</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide carmake-other">
                            <div class="form-group">
                                <label asp-for="NewCarMake">New Make</label>
                                <input asp-for="NewCarMake" type="text" class="form-control" placeholder="Enter a new car make">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="CarModelId">Model</label>
                                <select asp-for="CarModelId" class="search-fields">
                                    <option>Select Model</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide carmodel-other">
                            <div class="form-group">
                                <label asp-for="NewCarModel">New Model</label>
                                <input asp-for="NewCarModel" type="text" class="form-control" placeholder="Enter a new car model">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="TrimId">Trim</label>
                                <select asp-for="TrimId" class="search-fields">
                                    <option>Select Trim</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Enter Car Age & Rego</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Year">Year</label>
                                <select asp-for="Year" class="search-fields">
                                    <option>Select Year</option>
                                    <option>Add New..</option>
                                    @for (int year = DateTime.Now.Year - 20 ; year <= DateTime.Now.Year + 1; year++)
                                    {
                                        <option>@year</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide year-other">
                            <div class="form-group">
                                <label asp-for="NewYear">New Year</label>
                                <input asp-for="NewYear" type="number" class="form-control" placeholder="Enter a new year">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="Kms">Kms</label>
                                <input asp-for="Kms" type="text" class="form-control" placeholder="Enter a kilometers">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="RegoNumber">Rego Number</label>
                                <input asp-for="RegoNumber" type="text" class="form-control" placeholder="Enter a Registration Number">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="RegoExpiryDate">Rego Expiry</label>
                                <input asp-for="RegoExpiryDate" type="text" class="form-control" placeholder="Enter a Registration Expiry Date">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Car Details</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="TransmissionType">Transmission Type</label>
                                <select asp-for="TransmissionType" class="search-fields">
                                    <option>Select Transmission Type</option>
                                    <option value="M">Manual</option>
                                    <option value="A">Automatic</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="ColorId">Make</label>
                                <select asp-for="ColorId" asp-items="@Model.Colors" class="search-fields">
                                    <option>Select Color</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide color-other">
                            <div class="form-group">
                                <label asp-for="NewColor">New Color</label>
                                <input asp-for="NewColor" type="text" class="form-control" placeholder="Enter a new color">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="BodyTypeId">Make</label>
                                <select asp-for="BodyTypeId" asp-items="@Model.BodyTypes" class="search-fields">
                                    <option>Select Body Type</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide bodytype-other">
                            <div class="form-group">
                                <label asp-for="NewBodyType">New Body Type</label>
                                <input asp-for="NewBodyType" type="text" class="form-control" placeholder="Enter a new body type">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="NoOfSeats">No. Of Seats</label>
                                <input asp-for="NoOfSeats" type="number" class="form-control" placeholder="Enter number of seats">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="NoOfDoors">No. Of Doors</label>
                                <input asp-for="NoOfDoors" type="number" class="form-control" placeholder="Enter number of doors">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="NoOfCylinders">No. Of Cylinders</label>
                                <input asp-for="NoOfCylinders" type="number" class="form-control" placeholder="Enter number of cylinders" min="1" maxlength="2">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="DriveTypeId">Drive Type</label>
                                <select asp-for="DriveTypeId" asp-items="@Model.DriveTypes" class="search-fields">
                                    <option>Select Drive Type</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide drivetype-other">
                            <div class="form-group">
                                <label asp-for="NewDriveType">New Drive Type</label>
                                <input asp-for="NewDriveType" type="text" class="form-control" placeholder="Enter a new drive type">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="FuelTypeId">Fuel Type</label>
                                <select asp-for="FuelTypeId" asp-items="@Model.FuelTypes" class="search-fields">
                                    <option>Select Fuel Type</option>
                                    <option>Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide fueltype-other">
                            <div class="form-group">
                                <label asp-for="NewFuelType">New Fuel Type</label>
                                <input asp-for="NewFuelType" type="text" class="form-control" placeholder="Enter a new fuel type">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Inventory Details</h3>
                <section>
                    <div class="row">

                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" type="text" class="form-control" placeholder="Enter Description">
                            </div>
                            <div class="col-md-8 text-left">
                                <div class="form-group">
                                    <label asp-for="PurchaseDate">Purchase Date</label>
                                    <input asp-for="PurchaseDate" type="text" class="form-control" placeholder="Enter a Purchase Date">
                                </div>
                            </div>
                            <div class="col-md-8 text-left">
                                <div class="form-group">
                                    <label asp-for="PurchasePrice">Purchase Price</label>
                                    <input asp-for="PurchasePrice" type="number" class="form-control" placeholder="Enter a Purchase Price">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="PurchaseTypeId">Purchase Type</label>
                                    <select asp-for="PurchaseTypeId" asp-items="@Model.PurchaseTypes" class="search-fields">
                                        <option>Select Purchase Type</option>
                                        <option>Add New..</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 text-left other-hide purchasetype-other">
                                <div class="form-group">
                                    <label asp-for="NewPurchaseType">New Purchase Type</label>
                                    <input asp-for="NewPurchaseType" type="text" class="form-control" placeholder="Enter a new purchase type">
                                </div>
                            </div>
                            <div class="col-md-8 text-left">
                                <div class="custom-control custom-checkbox form-group">
                                    <input asp-for="IsFeatured" type="checkbox" class="custom-control-input">
                                    <label asp-for="IsFeatured" class="custom-control-label">Let's make this car a Featured Car!</label>
                                </div>
                            </div>
                            <div class="col-md-8 text-left">
                                <div class="form-group">
                                    <label asp-for="LotDate">Lot Date</label>
                                    <input asp-for="LotDate" type="text" class="form-control" placeholder="Enter a Lot Date">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Upload Images</h3>
                <section>
                    <div id="drag-drop-area" class="DashboardContainer"></div>
                </section>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->

@section Scripts {
    <script>
        $(document).ready(function () {

            /////STEPPER START//////
            let stepperSettings = {
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                stepsOrientation: "vertical",
                labels: {
                    cancel: "Cancel",
                    current: "current step:",
                    pagination: "Pagination",
                    finish: "Submit",
                    next: "Next",
                    previous: "Previous",
                    loading: "Loading ..."
                },
                onFinished: function (event, currentIndex) {
                    alert("hi")
                    $("#add-new-car-form").submit();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    console.log("currentIndex:" + currentIndex);
                    console.log("priorIndex:" + priorIndex)
                }
            }

            $("#example-vertical").steps(stepperSettings);
            /////STEPPER END//////


            //UPPY START////
            var Core = Uppy.Core
            var Dashboard = Uppy.Dashboard
            var XHRUpload = Uppy.XHRUpload
            var uppy = Core({
              id:'uppy',
              debug: true,
              autoProceed: false,
              restrictions: {
                maxFileSize: 1000000,
                maxNumberOfFiles: 5,
                minNumberOfFiles: 1,
                allowedFileTypes: ['image/*']
              }
            })

            uppy.use(Dashboard, {
              trigger: '.UppyModalOpenerBtn',
              inline: true,
              target: '.DashboardContainer',
              replaceTargetContent: true,
              showProgressDetails: true,
              note: 'Images only, 1–5 files, up to 1 MB',
              height: 470,
              metaFields: [
                { id: 'name', name: 'Name', placeholder: 'file name' },
              ],
                browserBackButtonClose: true,
              hideUploadButton:true
            })

             uppy.use(XHRUpload, {
                endpoint: '@Url.Action("UploadFile", "Admin")',
                method: 'post',
                formData: true,
                fieldName: 'File',
                metaFields: null
             })




            // post-submit callback 
            function handleError(responseText, statusText, xhr, $form)  { 

                console.log("dilip error");
                console.log(responseText.responseJSON);

                const response = responseText.responseJSON;
                if (!response.success) {
                    const errors = response.errors;
                    errors.forEach(error => {
                        const fieldErrors = error.errors;
                        fieldErrors.forEach(fieldError => {
                            $("#validation-errors ul").append(`<li>${fieldError.errorMessage}</li>`);
                        });

                    });
                }
            }

            function handleSuccess(responseText, statusText, xhr, $form)  { 

                console.log("dilip success");
                console.log(responseText.responseJSON);
                alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
                    '\n\nThe output div should have already been updated with the responseText.'); 
            }

            var options = { 
                target:        '#output1',   // target element(s) to be updated with server response 
                error: handleError,  // post-submit callback 
                success: handleSuccess
                // other available options: 
                //url:       url         // override for form's 'action' attribute 
                //type:      type        // 'get' or 'post', override for form's 'method' attribute 
                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
                //clearForm: true        // clear all form fields after successful submit 
                //resetForm: true        // reset the form after successful submit 
 
                // $.ajax options can be used here too, for example: 
                //timeout:   3000 
            }; 

            $('#add-new-car-form').ajaxForm(options);

            //$('#add-new-car-form').ajaxForm(function() {
            //    uppy.setMeta({carId:10})
            //    uppy.upload().then((result) => {
            //      console.info('Successful uploads:', result.successful)

            //      if (result.failed.length > 0) {
            //        console.error('Errors:')
            //        result.failed.forEach((file) => {
            //          console.error(file.error)
            //        })
            //      }
            //    })
            //});

            uppy.on('complete', result => {
                console.log('successful files:', result.successful)
                console.log('failed files:', result.failed)
            });





            //UPPY END////








            /////ALL OTEHR STUFF////

            $( "#RegoExpiryDate" ).datepicker({
               appendText:"(dd-mm-yyyy)",
               dateFormat: "dd-mm-yy"
            });

            $( "#PurchaseDate" ).datepicker({
               appendText:"(dd-mm-yyyy)",
                dateFormat: "dd-mm-yy"
            });

            $( "#LotDate" ).datepicker({
               appendText:"(dd-mm-yyyy)",
                dateFormat: "dd-mm-yy"
            });

            $("#CarMakeId").change(function () {
                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".carmake-other").removeClass("other-hide");
                    $(".carmake-other").addClass("other-show");
                    return;
                } else {
                    $(".carmake-other").addClass("other-hide");
                    $(".carmake-other").removeClass("other-show");
                    $("#CarModelId").empty();
                    $("#CarModelId").append($("<option>", { text: 'Select Model' }));
                    var selectedValue = $(this).val();
                    console.log(selectedValue);
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("CarModelsByMake", "Home")' + '/' + selectedValue,
                        success: function (result) {
                            result.forEach(item => {
                                $("#CarModelId").append($('<option>', { value: item.id, text: item.carModelName }));
                            });
                            //$('#CarModelId').selectpicker('refresh');
                        }
                    });
                }
            });

            $("#CarModelId").change(function () {

                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".carmodel-other").removeClass("other-hide");
                    $(".carmodel-other").addClass("other-show");
                    return;
                } else {
                    $(".carmodel-other").addClass("other-hide");
                    $(".carmodel-other").removeClass("other-show");
                    $("#TrimId").empty();
                    $("#TrimId").append($("<option>", { text: 'Select Trim' }));
                    var selectedValue = $(this).val();
                    console.log(selectedValue);
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("TrimsByModel", "Home")' + '?modelId=' + selectedValue,
                        success: function (result) {
                            result.forEach(item => {
                                $("#TrimId").append($('<option>', { value: item.id, text: item.trimName }));
                            });
                            //$('#TrimId').selectpicker('refresh');
                        }
                    });
                }
            });

            $("#TrimId").change(function () {
                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".trim-other").removeClass("other-hide");
                    $(".trim-other").addClass("other-show");
                    return;
                } else {
                    $(".trim-other").addClass("other-hide");
                    $(".trim-other").removeClass("other-show");
                    return;
                }
            });

            $("#Year").change(function () {
                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".year-other").removeClass("other-hide");
                    $(".year-other").addClass("other-show");
                    return;
                } else {
                    $(".year-other").addClass("other-hide");
                    $(".year-other").removeClass("other-show");
                    return;
                }
            });

            $("#DriveTypeId").change(function () {
                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".drivetype-other").removeClass("other-hide");
                    $(".drivetype-other").addClass("other-show");
                    return;
                } else {
                    $(".drivetype-other").addClass("other-hide");
                    $(".drivetype-other").removeClass("other-show");
                    return;
                }
            });

            $("#FuelTypeId").change(function () {
                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".fueltype-other").removeClass("other-hide");
                    $(".fueltype-other").addClass("other-show");
                    return;
                } else {
                    $(".fueltype-other").addClass("other-hide");
                    $(".fueltype-other").removeClass("other-show");
                    return;
                }
            });

            $("#PurchaseTypeId").change(function () {
                var selectedText = $(this).find("option:selected").text();

                if (selectedText === "Add New..") {
                    $(".purchasetype-other").removeClass("other-hide");
                    $(".purchasetype-other").addClass("other-show");
                    return;
                } else {
                    $(".purchasetype-other").addClass("other-hide");
                    $(".purchasetype-other").removeClass("other-show");
                    return;
                }
            });
        });
    </script>
}
