@model InventoryViewModel

@{
    ViewData["Title"] = "Manage Inventory";
}

<!-- Contact 2 start -->
<div class="add-new-car-outer-container content-area-5">
    <div class="container">
        <!-- Main title -->
        @if (Model.Id != null && Model.Id != Guid.Empty)
        {
            <div class="add-new-car main-title">
                <h1>Edit <span>Inventory</span> Item</h1>
                <p>Please use this form to edit item in the inventory.</p>
            </div>
        }
        else
        {
            <div class="add-new-car main-title">
                <h1>Add New <span>Car</span> to Inventory</h1>
                <p>Please use this form to add a new car to the inventory.</p>
            </div>

        }

        <div id="validation-errors">
            <ul></ul>
        </div>

        <form id="manage-car-form" method="post" enctype="multipart/form-data" asp-action="ManageInventory">
            <div id="manage-car-form-wizard">
                `
                <h3>Select Car Type</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="CarMakeId">Make</label>
                                <select asp-for="CarMakeId" asp-items="@Model.CarMakes" class="search-fields" required>
                                    <option value="" selected>Select Make</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide carmake-other">
                            <div class="form-group">
                                <label asp-for="NewCarMakeName">New Make</label>
                                <input asp-for="NewCarMakeName" type="text" class="form-control search-fields" placeholder="Enter a new car make">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="CarModelId">Model</label>
                                <select asp-for="CarModelId" asp-items="@Model.CarModels" class="search-fields">
                                    <option value="">Select Model</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide carmodel-other">
                            <div class="form-group">
                                <label asp-for="NewCarModelName">New Model</label>
                                <input asp-for="NewCarModelName" type="text" class="form-control search-fields" placeholder="Enter a new car model">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="TrimId">Trim</label>
                                <select asp-for="TrimId" asp-items="@Model.Trims" class="search-fields">
                                    <option value="">Select Trim</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide trim-other">
                            <div class="form-group">
                                <label asp-for="NewTrimName">New Trim</label>
                                <input asp-for="NewTrimName" type="text" class="form-control search-fields" placeholder="Enter a new trim">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Enter Car Age & Rego</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Year">Year</label>
                                <select asp-for="Year" class="search-fields">
                                    <option value="">Select Year</option>
                                    @for (int year = DateTime.Now.Year - 20; year <= DateTime.Now.Year + 1; year++)
                                    {
                                        <option>@year</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="Kms">Kms</label>
                                <input asp-for="Kms" type="number" class="form-control search-fields" placeholder="Enter a kilometers">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="RegoNumber">Rego Number</label>
                                <input asp-for="RegoNumber" type="text" class="form-control search-fields" placeholder="Enter a Registration Number">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="RegoExpiryDate">Rego Expiry</label>
                                <input asp-for="RegoExpiryDate" type="text" class="form-control search-fields" placeholder="Enter a Registration Expiry Date">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Car Details</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="TransmissionType">Transmission Type</label>
                                <select asp-for="TransmissionType" class="search-fields">
                                    <option value="">Select Transmission Type</option>
                                    <option value="M">Manual</option>
                                    <option value="A">Automatic</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="ColorId">Color</label>
                                <select asp-for="ColorId" asp-items="@Model.Colors" class="search-fields">
                                    <option value="">Select Color</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide color-other">
                            <div class="form-group">
                                <label asp-for="NewColorName">New Color</label>
                                <input asp-for="NewColorName" type="text" class="form-control search-fields" placeholder="Enter a new color">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="BodyTypeId">Body Type</label>
                                <select asp-for="BodyTypeId" asp-items="@Model.BodyTypes" class="search-fields">
                                    <option value="">Select Body Type</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide bodytype-other">
                            <div class="form-group">
                                <label asp-for="NewBodyTypeName">New Body Type</label>
                                <input asp-for="NewBodyTypeName" type="text" class="form-control search-fields" placeholder="Enter a new body type">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <div class="form-group">
                                        <label asp-for="NoOfSeats">No. Of Seats</label>
                                        <input asp-for="NoOfSeats" type="number" class="form-control search-fields" placeholder="Enter number of seats">
                                    </div>
                                </div>
                                <div class="col-md-4 text-left">
                                    <div class="form-group">
                                        <label asp-for="NoOfDoors">No. Of Doors</label>
                                        <input asp-for="NoOfDoors" type="number" class="form-control search-fields" placeholder="Enter number of doors">
                                    </div>
                                </div>
                                <div class="col-md-4 text-left">
                                    <div class="form-group">
                                        <label asp-for="NoOfCylinders">No. Of Cylinders</label>
                                        <input asp-for="NoOfCylinders" type="number" class="form-control search-fields" placeholder="Enter number of cylinders">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="DriveTypeId">Drive Type</label>
                                <select asp-for="DriveTypeId" asp-items="@Model.DriveTypes" class="search-fields">
                                    <option value="">Select Drive Type</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide drivetype-other">
                            <div class="form-group">
                                <label asp-for="NewDriveTypeName">New Drive Type</label>
                                <input asp-for="NewDriveTypeName" type="text" class="form-control search-fields" placeholder="Enter a new drive type">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="FuelTypeId">Fuel Type</label>
                                <select asp-for="FuelTypeId" asp-items="@Model.FuelTypes" class="search-fields">
                                    <option value="">Select Fuel Type</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide fueltype-other">
                            <div class="form-group">
                                <label asp-for="NewFuelTypeName">New Fuel Type</label>
                                <input asp-for="NewFuelTypeName" type="text" class="form-control search-fields" placeholder="Enter a new fuel type">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Repair Details</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="RepairDescription">Repair Description</label>
                                <input asp-for="RepairDescription" type="text" class="form-control search-fields" placeholder="Enter Repair Description">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="RepairCost">Repair Cost</label>
                                <input asp-for="RepairCost" type="number" class="form-control search-fields" placeholder="Enter a Repair Cost">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Inventory Details</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <textarea rows="5" asp-for="Description" type="text" class="form-control search-fields" placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="PurchaseDate">Purchase Date</label>
                                <input asp-for="PurchaseDate" type="text" class="form-control search-fields" placeholder="Enter a Purchase Date">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="PurchasePrice">Purchase Price</label>
                                <input asp-for="PurchasePrice" type="number" class="form-control search-fields" placeholder="Enter a Purchase Price">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="PurchaseTypeId">Purchase Type</label>
                                <select asp-for="PurchaseTypeId" asp-items="@Model.PurchaseTypes" class="search-fields">
                                    <option value="">Select Purchase Type</option>
                                    <option value="-1">Add New..</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 text-left other-hide purchasetype-other">
                            <div class="form-group">
                                <label asp-for="NewPurchaseTypeName">New Purchase Type</label>
                                <input asp-for="NewPurchaseTypeName" type="text" class="form-control search-fields" placeholder="Enter a new purchase type">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="custom-control custom-checkbox form-group">
                                <input asp-for="IsFeatured" type="checkbox" class="custom-control-input">
                                <label asp-for="IsFeatured" class="custom-control-label">Let's make this car a Featured Car!</label>
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="LotDate">Lot Date</label>
                                <input asp-for="LotDate" type="text" class="form-control search-fields" placeholder="Enter a Lot Date">
                            </div>
                        </div>
                    </div>
                </section>
                <h3>Sale Details</h3>
                <section>
                    <div class="row">
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="SaleDate">Sale Date (optional)</label>
                                <input asp-for="SaleDate" type="text" class="form-control search-fields" placeholder="Enter a Sale Date">
                            </div>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="form-group">
                                <label asp-for="SalePrice">Sale Price (optional)</label>
                                <input asp-for="SalePrice" type="number" class="form-control search-fields" placeholder="Enter a Sale Price">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="InventoryStatusId">Inventory Status</label>
                                <select asp-for="InventoryStatusId" asp-items="@Model.InventoryStatusList" class="search-fields">
                                    <option value="">Select Inventory Status</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>

                <h3>Upload Images</h3>
                <section>
                    <div id="drag-drop-area" class="DashboardContainer"></div>
                    <div id="upload-image-validation"></div>
                </section>
            </div>
        </form>
    </div>
</div>
<!-- Contact 2 end -->

@section Scripts {
    <script>
        var allImageData = @Html.Raw(Json.Serialize(Model.AllImages))
    </script>
    <script src="~/js/app/manage-car-form-wizard.js"></script>
    <script src="~/js/app/image-upload-uppy.js"></script>
    <script src="~/js/app/manage-car-form-dynamic.js"></script>
    <script src="~/js/app/submit-form-with-ajax.js"></script>
}
